{% extends "weather/base.html" %}
    {% block body %}
        <ul>
            <li><a href="{% url 'weather:index' %}">Index</a></li>
            {% if not user.is_authenticated %}
                <li><a href="{% url 'weather:login' %}">Login</a></li>
                <li><a href="{% url 'weather:register' %}">Register</a></li>
            {% else %}
                <li><a href="{% url 'weather:logout' %}">Logout</a></li>
            {% endif %}
        </ul>

        {% if weather %}
            <h2>Max Temps for Raleigh</h2>
            <table border= "1px solid black">
                <tr>
                    <th>Date</th>
                    <th>Max Temp (F)</th>
                </tr>
            {% for val in weather.max_temps %}
                <tr>
                    <td>{{val.datetime}}</td>
                    <td>{{val.temp}}</td>
                </tr>
            {% endfor %}
<!--            <p>Weather: {{weather}}</p>-->
            </table>
        {% else %}
            <h2>No Weather Info Available</h2>>
        {% endif %}

        <input id="enterZip"></input><button id="submitZip" onclick="getWeatherLocationByZip()">Submit</button><br/>

        <iframe id = "map" width="100%" height="600px" src=""></iframe>
    {% endblock %}
